@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'CanelaDeck';
    src: url('../../public/fonts/CanelaDeck-Light.woff2') format('woff2'),
        url('../../public/fonts/CanelaDeck-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CanelaDeck';
    src: url('../../public/fonts/CanelaDeck-Regular.woff2') format('woff2'),
        url('../../public/fonts/CanelaDeck-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CanelaDeck';
    src: url('../../public/fonts/CanelaDeck-Medium.woff2') format('woff2'),
        url('../../public/fonts/CanelaDeck-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}